@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    top: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    color: black;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}

.logo{
    position: relative;
    right: 120px;
    margin-top: 6px;
}

.search{
    background: transparent;
    width: 400px;
    color: black;
    border: 1px solid;
    border-color: black;
    border-radius: 2px;
    margin: auto 80px;
    font-size: 18px;
    position: relative;
    left: 60px;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.cart{
    float: right;
    position: relative;
    bottom: 85px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background-color: #00abf0;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden ;
    transition: .5s;
}

.btn:hover{
    background: aquamarine;
    border: 2px solid #00abf0;
    padding: 14px 14px ;
}

.header{
    background: linear-gradient(359.3deg, rgb(196, 214, 252) 1%, rgba(187, 187, 187, 0) 70.9%);
    width: 100%;
    height: 700px;
}

.header .row{
    margin-top: 70px;
}



.categories{
    margin: 70px 0;
}

.col-3{
    flex: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%; 
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #00abf0;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;

}

.col-4 p{
    font-size: 14px;
}

.rating ion-icon{
    color:rgb(255, 102, 0);
}


.col-4:hover{
    transform: translateY(-5px);
}

.offer{
    background: azure;
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding-right: 100px;
}

.small{
    color: #555;
    text-align: center;

}

.testimonial{
    padding-top: 100px;
}

.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover{
    transform: translateY(-3px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}

.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;

}

.brands{
    margin: 100px auto;

}

.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;

}

.footer{
    background: black;
    padding: 60px 0;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;

}

.footer-col{
    width: 25%;
    padding: 0 15px;

}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;

}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    position: relative;
    right: 40px;
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;

}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px ;

}

.copyright h4{
    font-size: 20px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 5px;
    margin-top: 90px;
    font-weight: 500;
    text-align: center;

}

.copyright p{
    color: #bbbbbb;
    text-align: center;
    font-weight: 300;
    margin-bottom: 1px;

}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*--------------media querry---------------*/

@media only screen and (max-width: 800px){
    .nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;    
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;

    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}



@media only screen and (max-height: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}